.cpl-cta--scroll {
    bottom: 24px;
    color: #ccc;
    height: 48px;
    margin-right: -24px;
    opacity: 1;
    position: fixed;
    right: 50%;
    -webkit-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    width: 48px;
    will-change: opacity;
    z-index: 50
}

.headroom--not-top~main .cpl-cta--scroll {
    opacity: 0;
    pointer-events: none
}

.cpl-cta--scroll svg {
    height: 100%;
    position: absolute;
    width: 100%
}

.cpl-anim--mouse {
    -webkit-animation: animMouse 2s cubic-bezier(.65, -.55, .25, 1.5) infinite;
    animation: animMouse 2s cubic-bezier(.65, -.55, .25, 1.5) infinite;
    -webkit-transform-origin: 50% 20px;
    transform-origin: 50% 20px;
    will-change: transform, opacity
}

@-webkit-keyframes animMouse {

    0%,
    20% {
        opacity: 1;
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 24px, 0) scaleY(2);
        transform: translate3d(0, 24px, 0) scaleY(2)
    }
}

@keyframes animMouse {

    0%,
    20% {
        opacity: 1;
        -webkit-transform: translateZ(0) scale(1);
        transform: translateZ(0) scale(1)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 24px, 0) scaleY(2);
        transform: translate3d(0, 24px, 0) scaleY(2)
    }
}

.mdc-dialog,
.mdc-dialog__scrim {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%
}

.mdc-dialog {
    display: none;
    z-index: 101
}

.mdc-dialog .mdc-dialog__surface {
    background-color: #fff;
    background-color: var(--mdc-theme-surface, #fff)
}

.mdc-dialog .mdc-dialog__scrim {
    background-color: hsla(0, 0%, 6%, .75)
}

.mdc-dialog .mdc-dialog__content,
.mdc-dialog .mdc-dialog__title {
    color: #101010
}

.mdc-dialog.mdc-dialog--scrollable .mdc-dialog__actions,
.mdc-dialog.mdc-dialog--scrollable .mdc-dialog__title {
    border-color: hsla(0, 0%, 6%, .2)
}

.mdc-dialog .mdc-dialog__surface {
    min-width: 280px
}

@media(max-width:832px) {
    .mdc-dialog .mdc-dialog__surface {
        max-width: calc(100vw - 32px)
    }
}

@media(min-width:832px) {
    .mdc-dialog .mdc-dialog__surface {
        max-width: 800px
    }
}

.mdc-dialog .mdc-dialog__surface {
    border-radius: 4px;
    max-height: calc(100% - 32px)
}

.mdc-dialog__scrim {
    opacity: 0;
    z-index: -1
}

.mdc-dialog__container {
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-flex-pack: distribute;
    align-items: center;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 100%;
    justify-content: space-around;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: scale(.8);
    transform: scale(.8)
}

.mdc-dialog__container,
.mdc-dialog__surface {
    -webkit-box-direction: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.mdc-dialog__surface {
    -webkit-box-orient: vertical;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    -ms-flex-negative: 0;
    -webkit-box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
    -ms-flex-direction: column;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    max-height: 100%;
    max-width: 100%;
    overflow-y: auto;
    pointer-events: auto
}

.mdc-dialog[dir=rtl] .mdc-dialog__surface,
[dir=rtl] .mdc-dialog .mdc-dialog__surface {
    text-align: right
}

.mdc-dialog__title {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-flex-negative: 0;
    border-bottom: 1px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    flex-shrink: 0;
    font-family: Roboto, sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: .0125em;
    line-height: normal;
    line-height: 2rem;
    margin: 0;
    padding: 0 24px 16px;
    position: relative;
    text-decoration: inherit;
    text-transform: inherit
}

.mdc-dialog__title:before {
    content: "";
    display: inline-block;
    height: 40px;
    vertical-align: 0;
    width: 0
}

.mdc-dialog[dir=rtl] .mdc-dialog__title,
[dir=rtl] .mdc-dialog .mdc-dialog__title {
    text-align: right
}

.mdc-dialog--scrollable .mdc-dialog__title {
    padding-bottom: 22px
}

.mdc-dialog__content {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex-grow: 1;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .03125em;
    line-height: 1.5rem;
    margin: 0;
    overflow: auto;
    padding: 20px 24px;
    text-decoration: inherit;
    text-transform: inherit
}

.mdc-dialog__content>:first-child {
    margin-top: 0
}

.mdc-dialog__content>:last-child {
    margin-bottom: 0
}

.mdc-dialog__title+.mdc-dialog__content {
    padding-top: 0
}

.mdc-dialog--scrollable .mdc-dialog__content {
    padding-bottom: 8px;
    padding-top: 8px
}

.mdc-dialog__content .mdc-list:first-child:last-child {
    padding: 6px 0 0
}

.mdc-dialog--scrollable .mdc-dialog__content .mdc-list:first-child:last-child {
    padding: 0
}

.mdc-dialog__actions {
    -ms-flex-negative: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    align-items: center;
    border-top: 1px solid transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    min-height: 52px;
    padding: 8px;
    position: relative
}

.mdc-dialog--stacked .mdc-dialog__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-direction: column;
    flex-direction: column
}

.mdc-dialog__button {
    margin-left: 8px;
    margin-right: 0;
    max-width: 100%;
    text-align: right
}

.mdc-dialog__button[dir=rtl],
[dir=rtl] .mdc-dialog__button {
    margin-left: 0;
    margin-right: 8px
}

.mdc-dialog__button:first-child,
.mdc-dialog__button:first-child[dir=rtl],
[dir=rtl] .mdc-dialog__button:first-child {
    margin-left: 0;
    margin-right: 0
}

.mdc-dialog[dir=rtl] .mdc-dialog__button,
[dir=rtl] .mdc-dialog .mdc-dialog__button {
    text-align: left
}

.mdc-dialog--stacked .mdc-dialog__button:not(:first-child) {
    margin-top: 12px
}

.mdc-dialog--closing,
.mdc-dialog--open,
.mdc-dialog--opening {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.mdc-dialog--opening .mdc-dialog__scrim {
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear
}

.mdc-dialog--opening .mdc-dialog__container {
    -webkit-transition: opacity 75ms linear, -webkit-transform .15s cubic-bezier(0, 0, .2, 1) 0ms;
    transition: opacity 75ms linear, -webkit-transform .15s cubic-bezier(0, 0, .2, 1) 0ms;
    transition: opacity 75ms linear, transform .15s cubic-bezier(0, 0, .2, 1) 0ms;
    transition: opacity 75ms linear, transform .15s cubic-bezier(0, 0, .2, 1) 0ms, -webkit-transform .15s cubic-bezier(0, 0, .2, 1) 0ms
}

.mdc-dialog--closing .mdc-dialog__container,
.mdc-dialog--closing .mdc-dialog__scrim {
    -webkit-transition: opacity 75ms linear;
    transition: opacity 75ms linear
}

.mdc-dialog--closing .mdc-dialog__container {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.mdc-dialog--open .mdc-dialog__scrim {
    opacity: 1
}

.mdc-dialog--open .mdc-dialog__container {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.mdc-dialog-scroll-lock {
    overflow: hidden
}

.mdc-dialog.mdc-dialog--scrollable .mdc-dialog__actions,
.mdc-dialog.mdc-dialog--scrollable .mdc-dialog__title {
    border-color: transparent
}

.mdc-dialog .mdc-dialog__surface {
    border-radius: 0
}

@media(min-width:1023.01px) {
    .mdc-dialog .mdc-dialog__surface {
        max-width: 800px
    }
}

.mdc-dialog.mdc-dialog-share .mdc-dialog__container {
    width: 90%
}

.mdc-dialog.mdc-dialog-share .mdc-dialog__container .mdc-dialog__surface {
    max-width: 600px;
    width: 100%
}

@media(min-width:600px) {
    .mdc-dialog.mdc-dialog-share .mdc-dialog__container {
        width: 80%
    }
}

.mdc-dialog.mdc-dialog-share .mdc-dialog__content {
    overflow: hidden
}

.mdc-dialog.cpl-fullscreen .mdc-dialog__container {
    width: 100%
}

.mdc-dialog.cpl-fullscreen .mdc-dialog__surface {
    height: calc(100% - 32px);
    min-width: calc(100% - 32px)
}

@media(min-width:1280px) {
    .mdc-dialog.cpl-fullscreen .mdc-dialog__surface {
        padding-left: 4rem
    }
}

.mdc-dialog.cpl-fullscreen .mdc-dialog__content,
.mdc-dialog.cpl-fullscreen .mdc-dialog__title {
    margin: auto;
    max-width: 1280px;
    padding-left: 0;
    padding-right: 0;
    width: 100%
}

@media(min-width:1023.01px) {

    .mdc-dialog.cpl-fullscreen .mdc-dialog__content,
    .mdc-dialog.cpl-fullscreen .mdc-dialog__title {
        padding-left: 40px;
        padding-right: 40px
    }
}

.mdc-dialog.cpl-fullscreen .mdc-dialog__title+.mdc-dialog__content {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem
}

.mdc-dialog--scrollable .mdc-dialog__content {
    padding-bottom: 16px
}

.mdc-dialog__surface {
    padding-bottom: 0;
    padding-top: 48px;
    position: relative;
    width: 100%
}

@media(min-width:600px) {
    .mdc-dialog__surface {
        padding-bottom: 40px;
        padding-right: 40px;
        padding-top: 56px
    }
}

.mdc-dialog .mdc-dialog__content,
.mdc-dialog__title {
    padding-left: 16px;
    padding-right: 16px
}

@media(min-width:600px) {

    .mdc-dialog .mdc-dialog__content,
    .mdc-dialog__title {
        padding-left: 40px;
        padding-right: 40px
    }
}

.mdc-dialog__title {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 8px
}

@media(min-width:1023.01px) {
    .mdc-dialog__title {
        font-size: 2.375rem;
        padding-bottom: 24px
    }
}

.mdc-dialog__title:before {
    content: none
}

.mdc-dialog__content {
    font-family: ToyotaType, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: normal
}

html.desktop .mdc-dialog__content {
    scrollbar-color: #eb0a1e #eee;
    scrollbar-width: thin
}

html.desktop .mdc-dialog__content::-webkit-scrollbar {
    width: 10px
}

html.desktop .mdc-dialog__content::-webkit-scrollbar-thumb {
    background-color: #eb0a1e
}

html.desktop .mdc-dialog__content::-webkit-scrollbar-track {
    background-color: #eee
}

html.desktop .mdc-dialog__content::-webkit-scrollbar-track:active,
html.desktop .mdc-dialog__content::-webkit-scrollbar-track:hover {
    background-color: #f5f5f5
}

.mdc-dialog .mdc-dialog__content {
    color: inherit
}

.mdc-dialog__close {
    height: 44px;
    outline: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px
}

@media(min-width:600px) {
    .mdc-dialog__close {
        right: .75rem;
        top: .75rem
    }
}

.mdc-dialog__close span {
    display: block;
    height: inherit;
    position: relative;
    width: inherit
}

.mdc-dialog__close span:after,
.mdc-dialog__close span:before {
    border-left: 1px solid #101010;
    content: "";
    height: 32px;
    left: calc(50% - 1px);
    position: absolute;
    top: 6px
}

@media(min-width:600px) {

    .mdc-dialog__close span:after,
    .mdc-dialog__close span:before {
        height: 40px;
        top: 2px
    }
}

.mdc-dialog__close span:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.mdc-dialog__close span:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

html[lang=lo] .mdc-dialog__content {
    font-family: Noto Sans Lao, ToyotaType, Arial, sans-serif
}

html[lang=km] .mdc-dialog__content {
    font-family: Noto Sans Khmer, ToyotaType, Arial, sans-serif
}

html[lang=ne] .mdc-dialog__content {
    font-family: Noto Sans Devanagari, ToyotaType, Arial, sans-serif
}

.cpl-freehtml h3,
.cpl-freehtml h4,
.cpl-freehtml h5,
.cpl-freehtml h6 {
    margin-bottom: 1rem
}

.cpl-freehtml h3:not(:first-child) {
    margin-top: 2.75rem
}

.cpl-freehtml h4:not(:first-child) {
    margin-top: 3.25rem
}

.cpl-freehtml h4+a[name]+h5 {
    margin-top: 1rem
}

.cpl-freehtml h5:not(:first-child),
.cpl-freehtml h6:not(:first-child) {
    margin-top: 2.25rem
}

.cpl-freehtml a[name] {
    background-color: transparent;
    background-image: none !important;
    display: table;
    margin-top: -50px;
    padding-top: 50px
}

.cpl-freehtml .cpl-cta-wrapper:not(:first-child) {
    margin-top: 2rem
}

@media(min-width:600px) {
    .cpl-freehtml .cpl-cta-wrapper:not(:first-child) {
        margin-top: 3rem
    }
}

.cpl-freehtml .cpl-grid.no-pad,
.cpl-freehtml picture,
.cpl-freehtml table {
    margin-bottom: 1.25rem;
    margin-top: 1.25rem
}

@media(min-width:600px) {

    .cpl-freehtml .cpl-grid.no-pad,
    .cpl-freehtml picture,
    .cpl-freehtml table {
        margin-bottom: 2.25rem;
        margin-top: 2.25rem
    }
}

.cpl-freehtml table {
    -webkit-overflow-scrolling: touch;
    border-collapse: separate;
    border-spacing: 0;
    display: block;
    max-width: 100%;
    min-width: 45%;
    overflow-x: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content
}

.cpl-freehtml table td,
.cpl-freehtml table th {
    border-top: 1px solid #ccc;
    padding: .75rem
}

.cpl-freehtml table td:not(:first-child),
.cpl-freehtml table th:not(:first-child) {
    border-left: 1px solid #ccc
}

@media(min-width:600px) {

    .cpl-freehtml table td,
    .cpl-freehtml table th {
        padding: 1.2rem
    }
}

.cpl-freehtml table tr:last-child td,
.cpl-freehtml table tr:last-child th {
    border-bottom: 1px solid #ccc
}

.cpl-freehtml table thead td,
.cpl-freehtml table thead th {
    border-bottom: 2px solid #ccc
}

.cpl-freehtml table tfoot td {
    border-top: 1px solid #ccc
}

.cpl-freehtml .cpl-table--sticky table {
    display: table;
    margin-bottom: 0;
    margin-top: 0
}

@media(min-width:600px) {
    .cpl-freehtml .cpl-table--sticky table {
        margin-bottom: 0;
        margin-top: 0
    }
}

.cpl-freehtml .cpl-grid.no-pad picture {
    margin-bottom: 0;
    margin-top: 0
}

.cpl-freehtml ul li.swiper-slide {
    margin-bottom: 0
}

@media(min-width:600px) {
    .cpl-freehtml h3 {
        margin-bottom: 1.25rem
    }

    .cpl-freehtml h3:not(:first-child) {
        margin-top: 3.25rem
    }

    .cpl-freehtml h4 {
        margin-bottom: 1.25rem
    }
}

.cpl-blurred {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}

@media(orientation:landscape) {
    .cpl-blurred {
        width: 100%
    }
}

.cpl-blurred.cpl-lazy.loaded {
    opacity: .5
}

.cpl-home-model-selector,
.cpl-home-sec {
    overflow: hidden
}

.cpl-home-sec {
    position: relative;
    -webkit-transition: height .3s ease-out;
    transition: height .3s ease-out
}

.cpl-home-sec .cpl-picture,
.cpl-home-sec .cpl-video-wrapper {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    -webkit-transition: -webkit-transform 1s ease;
    transition: -webkit-transform 1s ease;
    transition: transform 1s ease;
    transition: transform 1s ease, -webkit-transform 1s ease;
    width: 100%
}

@media(orientation:landscape) {

    .cpl-home-sec .cpl-picture,
    .cpl-home-sec .cpl-video-wrapper {
        height: 100%;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%
    }
}

@media(orientation:portrait) {

    .cpl-home-sec .cpl-picture,
    .cpl-home-sec .cpl-video-wrapper {
        height: 0;
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%
    }

    .cpl-home-sec .cpl-picture:after,
    .cpl-home-sec .cpl-video-wrapper:after {
        bottom: -1px;
        content: "";
        height: 60%;
        left: 0;
        pointer-events: none;
        position: absolute;
        width: 100%;
        z-index: 3
    }

    .cpl-home-sec .cpl-picture video,
    .cpl-home-sec .cpl-video-wrapper video {
        height: 100%
    }
}

.cpl-home-sec .cpl-picture img,
.cpl-home-sec .cpl-video-wrapper img {
    left: 50%;
    max-width: none;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}

.cpl-home-sec.cpl-animated .cpl-picture,
.cpl-home-sec.cpl-animated .cpl-video-wrapper {
    -webkit-transform: scale(1);
    transform: scale(1)
}

.cpl-home-sec.cpl-animated .cpl-blurred {
    opacity: 0
}

.cpl-home-sec .cpl-picture {
    z-index: 1
}

.cpl-home-sec video {
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}

.cpl-home-media {
    height: 100%
}

.cpl-home-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    left: 50%;
    max-width: 1280px;
    position: absolute;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    width: 100%
}

.cpl-home-content h1,
.cpl-home-content h2,
.cpl-home-content p {
    display: block
}

.cpl-home-content h1,
.cpl-home-content h2 {
    margin-bottom: 1rem
}

@media(min-width:600px) {

    .cpl-home-content h1,
    .cpl-home-content h2 {
        margin-bottom: 1.25rem;
        /*white-space: nowrap*/
    }
}

.cpl-home-content .cpl-cta-wrapper,
.cpl-home-content p {
    opacity: 0
}

.cpl-home-content p:not(:last-child) {
    margin-bottom: 1.5rem
}

@media(min-width:600px) {
    .cpl-home-content p:not(:last-child) {
        margin-bottom: 2rem
    }
}

.cpl-home-content .cpl-cta-wrapper {
    margin-top: 24px
}

@media(min-width:600px) {
    .cpl-home-content .cpl-cta-wrapper {
        margin-top: 40px
    }
}

.cpl-home-content>div>* {
    -webkit-transform: translate3d(0, 2.5rem, 0);
    transform: translate3d(0, 2.5rem, 0);
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    transition: opacity 1s, transform 1s, -webkit-transform 1s
}

@media(min-width:1023.01px) {
    .cpl-home-content>div>* {
        -webkit-transform: translate3d(0, 5rem, 0);
        transform: translate3d(0, 5rem, 0)
    }
}

.cpl-home-content:not(.cpl-animated) .mdc-button {
    pointer-events: none
}

@media(min-width:600px) {
    .cpl-home-content .cpl-sec-cont {
        width: 50%
    }
}

#cpl-homepage-masthead {
    height: 100vh;
    height: calc(var(--vh, 1vh)*100)
}

.cq-Editable-dom #cpl-homepage-masthead {
    height: auto;
    min-height: 640px
}

#cpl-homepage-masthead .cpl-home-sec {
    background-color: #000;
    height: 100%
}

@media(orientation:landscape) {
    #cpl-homepage-masthead .cpl-home-sec:before {
        background: -webkit-gradient(linear, left top, right top, from(#000), color-stop(19%, rgba(0, 0, 0, .738)), color-stop(34%, rgba(0, 0, 0, .541)), color-stop(47%, rgba(0, 0, 0, .382)), color-stop(56.5%, rgba(0, 0, 0, .278)), color-stop(65%, rgba(0, 0, 0, .194)), color-stop(73%, rgba(0, 0, 0, .126)), color-stop(80.2%, rgba(0, 0, 0, .075)), color-stop(86.1%, rgba(0, 0, 0, .042)), color-stop(91%, rgba(0, 0, 0, .021)), color-stop(95.2%, rgba(0, 0, 0, .008)), color-stop(98.2%, rgba(0, 0, 0, .002)), to(transparent));
        background: linear-gradient(90deg, #000, rgba(0, 0, 0, .738) 19%, rgba(0, 0, 0, .541) 34%, rgba(0, 0, 0, .382) 47%, rgba(0, 0, 0, .278) 56.5%, rgba(0, 0, 0, .194) 65%, rgba(0, 0, 0, .126) 73%, rgba(0, 0, 0, .075) 80.2%, rgba(0, 0, 0, .042) 86.1%, rgba(0, 0, 0, .021) 91%, rgba(0, 0, 0, .008) 95.2%, rgba(0, 0, 0, .002) 98.2%, transparent);
        content: "";
        height: 100%;
        left: 0;
        opacity: .75;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 75vw;
        z-index: 3
    }
}

#cpl-homepage-masthead .cpl-home-sec .cpl-picture,
#cpl-homepage-masthead .cpl-home-sec .cpl-video-wrapper {
    -webkit-box-shadow: 0 0 6em hsla(0, 0%, 6%, .75);
    box-shadow: 0 0 6em hsla(0, 0%, 6%, .75);
    -webkit-transform: scale(1.12);
    transform: scale(1.12)
}

@media(orientation:portrait) {

    #cpl-homepage-masthead .cpl-home-sec .cpl-picture,
    #cpl-homepage-masthead .cpl-home-sec .cpl-video-wrapper {
        padding-top: calc(133.33333% + 2px)
    }

    #cpl-homepage-masthead .cpl-home-sec .cpl-picture:after,
    #cpl-homepage-masthead .cpl-home-sec .cpl-video-wrapper:after {
        background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(19%, rgba(0, 0, 0, .738)), color-stop(34%, rgba(0, 0, 0, .541)), color-stop(47%, rgba(0, 0, 0, .382)), color-stop(56.5%, rgba(0, 0, 0, .278)), color-stop(65%, rgba(0, 0, 0, .194)), color-stop(73%, rgba(0, 0, 0, .126)), color-stop(80.2%, rgba(0, 0, 0, .075)), color-stop(86.1%, rgba(0, 0, 0, .042)), color-stop(91%, rgba(0, 0, 0, .021)), color-stop(95.2%, rgba(0, 0, 0, .008)), color-stop(98.2%, rgba(0, 0, 0, .002)), to(transparent));
        background: linear-gradient(0deg, #000, rgba(0, 0, 0, .738) 19%, rgba(0, 0, 0, .541) 34%, rgba(0, 0, 0, .382) 47%, rgba(0, 0, 0, .278) 56.5%, rgba(0, 0, 0, .194) 65%, rgba(0, 0, 0, .126) 73%, rgba(0, 0, 0, .075) 80.2%, rgba(0, 0, 0, .042) 86.1%, rgba(0, 0, 0, .021) 91%, rgba(0, 0, 0, .008) 95.2%, rgba(0, 0, 0, .002) 98.2%, transparent)
    }
}

#cpl-homepage-masthead .cpl-home-sec .cpl-video-wrapper {
    height: 75.038%;
    z-index: 2
}

#cpl-homepage-masthead .cpl-home-sec.cpl-animated .cpl-picture,
#cpl-homepage-masthead .cpl-home-sec.cpl-animated .cpl-video-wrapper {
    -webkit-transform: scale(1);
    transform: scale(1)
}

#cpl-homepage-masthead .cpl-home-sec.cpl-animated .cpl-blurred {
    opacity: 0
}

#cpl-homepage-masthead .cpl-home-content {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    min-height: 60vh;
    min-height: calc(var(--vh, 1vh)*60);
    z-index: 5
}

#cpl-homepage-masthead .cpl-home-content .cpl-sec-bg-black,
#cpl-homepage-masthead .cpl-home-content .cpl-sec-bg-white {
    background-color: transparent
}

#cpl-homepage-masthead .cpl-home-content.cpl-box-keyline .cpl-sec-cont:after,
#cpl-homepage-masthead .cpl-home-content.cpl-box-keyline .cpl-sec-cont:before {
    background-color: #fff;
    content: "";
    position: absolute;
    right: 0;
    top: 0
}

#cpl-homepage-masthead .cpl-home-content.cpl-box-keyline .cpl-sec-cont:before {
    height: 2px;
    width: calc(100% - 16px)
}

@media(max-width:599px) {
    #cpl-homepage-masthead .cpl-home-content.cpl-box-keyline .cpl-sec-cont:before {
        width: calc(100% - 32px)
    }
}

@media(min-width:600px)and (max-width:1023px) {
    #cpl-homepage-masthead .cpl-home-content.cpl-box-keyline .cpl-sec-cont:before {
        width: calc(100% - 32px)
    }
}

@media(min-width:1023.01px) {
    #cpl-homepage-masthead .cpl-home-content.cpl-box-keyline .cpl-sec-cont:before {
        width: calc(100% - 40px)
    }
}

#cpl-homepage-masthead .cpl-home-content.cpl-box-keyline .cpl-sec-cont:after {
    height: calc(100% - 83px);
    width: 2px
}

@media(min-width:1280px) {
    #cpl-homepage-masthead .cpl-home-content.cpl-box-keyline .cpl-sec-cont:after {
        height: calc(100% - 48px)
    }
}

@media(min-height:800px)and (orientation:landscape) {
    #cpl-homepage-masthead .cpl-home-content.cpl-box-keyline .cpl-sec-cont:after {
        height: calc(100% - 96px)
    }
}

#cpl-homepage-masthead .cpl-home-content.cpl-box-black .cpl-sec-cont:before,
#cpl-homepage-masthead .cpl-home-content.cpl-box-white .cpl-sec-cont:before {
    bottom: 0;
    content: "";
    height: 100%;
    position: absolute;
    right: 0
}

@media(max-width:599px) {

    #cpl-homepage-masthead .cpl-home-content.cpl-box-black .cpl-sec-cont:before,
    #cpl-homepage-masthead .cpl-home-content.cpl-box-white .cpl-sec-cont:before {
        width: 100%
    }
}

@media(min-width:600px)and (max-width:1279px) {

    #cpl-homepage-masthead .cpl-home-content.cpl-box-black .cpl-sec-cont:before,
    #cpl-homepage-masthead .cpl-home-content.cpl-box-white .cpl-sec-cont:before {
        width: 65vw
    }
}

@media(min-width:1280px) {

    #cpl-homepage-masthead .cpl-home-content.cpl-box-black .cpl-sec-cont:before,
    #cpl-homepage-masthead .cpl-home-content.cpl-box-white .cpl-sec-cont:before {
        width: calc(100% + 16px)
    }
}

#cpl-homepage-masthead .cpl-home-content.cpl-box-black .cpl-sec-cont:before {
    background-color: hsla(0, 0%, 6%, .75)
}

#cpl-homepage-masthead .cpl-home-content.cpl-box-white .cpl-sec-cont:before {
    background-color: #fff
}

#cpl-homepage-masthead .cpl-home-content.cpl-animated>div>* {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

#cpl-homepage-masthead .cpl-home-content.cpl-animated>div>:first-child {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

#cpl-homepage-masthead .cpl-home-content.cpl-animated>div>:nth-child(2) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

#cpl-homepage-masthead .cpl-home-content.cpl-animated>div>:nth-child(3) {
    -webkit-transition-delay: .6s;
    transition-delay: .6s
}

#cpl-homepage-masthead .cpl-home-content.cpl-animated>div>:nth-child(4) {
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

#cpl-homepage-masthead .cpl-home-content.cpl-animated>div>:nth-child(5) {
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

#cpl-homepage-masthead .cpl-sec-cont {
    padding-bottom: 83px;
    position: relative;
    width: calc(100% - 32px)
}

@media(max-width:599px) {
    #cpl-homepage-masthead .cpl-sec-cont {
        padding: 24px 32px 83px
    }
}

@media(min-width:1280px) {
    #cpl-homepage-masthead .cpl-sec-cont {
        padding-bottom: 48px;
        width: calc(50% - 24px)
    }
}

@media(min-width:600px)and (max-width:1279px) {
    #cpl-homepage-masthead .cpl-sec-cont {
        width: 50%
    }
}

@media(min-height:800px)and (orientation:landscape) {
    #cpl-homepage-masthead .cpl-sec-cont {
        padding-bottom: 96px
    }
}

#cpl-homepage-masthead .cpl-sec-cont p {
    font-size: 1rem
}

@media(min-width:1023.01px) {
    #cpl-homepage-masthead .cpl-sec-cont p {
        font-size: 1.25rem
    }
}

#cpl-homepage-models {
    background-color: #f5f5f5
}

@media(max-width:599px) {
    #cpl-homepage-models .cpl-sec-wrapper {
        padding-bottom: 32px
    }
}

.cpl-homepage-tiles {
    background-color: #fff
}

@media(min-width:600px) {
    .cpl-homepage-tiles .cpl-img-right .cpl-home-media {
        right: 0
    }
}

@media(min-width:1280px) {
    .cpl-homepage-tiles .cpl-img-right .cpl-sec-cont {
        padding-right: 64px
    }
}

@media(min-width:600px) {
    .cpl-homepage-tiles .cpl-img-left .cpl-home-media {
        left: 0
    }

    .cpl-homepage-tiles .cpl-img-left .cpl-home-content {
        -ms-flex-line-pack: end;
        align-content: flex-end
    }
}

@media(min-width:1280px) {
    .cpl-homepage-tiles .cpl-img-left .cpl-sec-cont {
        padding-left: 64px
    }
}

@media(min-width:600px) {
    .cpl-homepage-tiles .cpl-home-sec {
        height: 0;
        padding-bottom: 50%
    }
}

@media(orientation:portrait) {

    .cpl-homepage-tiles .cpl-home-sec .cpl-picture,
    .cpl-homepage-tiles .cpl-home-sec .cpl-video-wrapper {
        padding-top: calc(100% + 2px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%
    }
}

.cpl-homepage-tiles .cpl-home-media {
    background-color: #101010;
    height: 0;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%
}

@media(min-width:600px) {
    .cpl-homepage-tiles .cpl-home-media {
        bottom: 0;
        height: 100%;
        padding-bottom: 0;
        position: absolute;
        top: 0;
        width: 50%
    }
}

.cpl-homepage-tiles .cpl-home-media .cpl-picture,
.cpl-homepage-tiles .cpl-home-media .cpl-video-wrapper {
    -webkit-box-shadow: 0 0 6em hsla(0, 0%, 6%, .75);
    box-shadow: 0 0 6em hsla(0, 0%, 6%, .75);
    -webkit-transform: scale(1.12);
    transform: scale(1.12)
}

.cpl-homepage-tiles .cpl-animated .cpl-home-media .cpl-picture,
.cpl-homepage-tiles .cpl-animated .cpl-home-media .cpl-video-wrapper {
    -webkit-transform: scale(1.005);
    transform: scale(1.005)
}

.cpl-homepage-tiles .cpl-animated .cpl-home-media .cpl-blurred {
    opacity: 0
}

.cpl-homepage-tiles .cpl-animated.cpl-home-content .cpl-sec-cont>* {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.cpl-homepage-tiles .cpl-animated.cpl-home-content .cpl-sec-cont>:first-child {
    -webkit-transition-delay: .2s;
    transition-delay: .2s
}

.cpl-homepage-tiles .cpl-animated.cpl-home-content .cpl-sec-cont>:nth-child(2) {
    -webkit-transition-delay: .4s;
    transition-delay: .4s
}

.cpl-homepage-tiles .cpl-animated.cpl-home-content .cpl-sec-cont>:nth-child(3) {
    -webkit-transition-delay: .6s;
    transition-delay: .6s
}

.cpl-homepage-tiles .cpl-animated.cpl-home-content .cpl-sec-cont>:nth-child(4) {
    -webkit-transition-delay: .8s;
    transition-delay: .8s
}

.cpl-homepage-tiles .cpl-animated.cpl-home-content .cpl-sec-cont>:nth-child(5) {
    -webkit-transition-delay: 1s;
    transition-delay: 1s
}

@media(max-width:599px) {
    .cpl-homepage-tiles .cpl-home-content {
        display: block;
        position: static;
        -webkit-transform: none;
        transform: none
    }
}

@media(min-width:600px) {
    .cpl-homepage-tiles .cpl-home-content {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        height: 100%;
        justify-content: center
    }
}

@media(max-width:599px)and (orientation:portrait) {
    .cpl-homepage-tiles .cpl-home-content {
        padding-bottom: 32px
    }
}