@-webkit-keyframes mdc-ripple-fg-radius-in {
	0% {
		-webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1);
		animation-timing-function: cubic-bezier(.4, 0, .2, 1);
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1)
	}
	to {
		-webkit-transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
		transform: translate(0) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1))
	}
}
@-webkit-keyframes mdc-ripple-fg-opacity-in {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0
	}
	to {
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0)
	}
}
@-webkit-keyframes mdc-ripple-fg-opacity-out {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0)
	}
	to {
		opacity: 0
	}
}
.mdc-ripple-surface {
	--mdc-ripple-fg-size: 0;
	--mdc-ripple-left: 0;
	--mdc-ripple-top: 0;
	--mdc-ripple-fg-scale: 1;
	--mdc-ripple-fg-translate-end: 0;
	--mdc-ripple-fg-translate-start: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none;
	position: relative
}
.mdc-ripple-surface:after, .mdc-ripple-surface:before {
	border-radius: 50%;
	content: "";
	opacity: 0;
	pointer-events: none;
	position: absolute
}
.mdc-ripple-surface:before {
	-webkit-transition: opacity 15ms linear, background-color 15ms linear;
	transition: opacity 15ms linear, background-color 15ms linear;
	z-index: 1
}
.mdc-ripple-surface.mdc-ripple-upgraded:before {
	-webkit-transform: scale(1);
	-webkit-transform: scale(var(--mdc-ripple-fg-scale, 1));
	transform: scale(1);
	transform: scale(var(--mdc-ripple-fg-scale, 1))
}
.mdc-ripple-surface.mdc-ripple-upgraded:after {
	left: 0;
	top: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: center center;
	transform-origin: center center
}
.mdc-ripple-surface.mdc-ripple-upgraded--unbounded:after {
	left: 0;
	left: var(--mdc-ripple-left, 0);
	top: 0;
	top: var(--mdc-ripple-top, 0)
}
.mdc-ripple-surface.mdc-ripple-upgraded--foreground-activation:after {
	-webkit-animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
	animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards
}
.mdc-ripple-surface.mdc-ripple-upgraded--foreground-deactivation:after {
	-webkit-animation: mdc-ripple-fg-opacity-out .15s;
	animation: mdc-ripple-fg-opacity-out .15s;
	-webkit-transform: translate(0) scale(1);
	-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
	transform: translate(0) scale(1);
	transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1))
}
.mdc-ripple-surface:after, .mdc-ripple-surface:before {
	background-color: #000
}
.mdc-ripple-surface:hover:before {
	opacity: .04
}
.mdc-ripple-surface.mdc-ripple-upgraded--background-focused:before, .mdc-ripple-surface:not(.mdc-ripple-upgraded):focus:before {
	opacity: .12;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-ripple-surface:not(.mdc-ripple-upgraded):after {
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear
}
.mdc-ripple-surface:not(.mdc-ripple-upgraded):active:after {
	opacity: .12;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-ripple-surface.mdc-ripple-upgraded {
	--mdc-ripple-fg-opacity: 0.12
}
.mdc-ripple-surface:after, .mdc-ripple-surface:before {
	height: 200%;
	left: -50%;
	top: -50%;
	width: 200%
}
.mdc-ripple-surface.mdc-ripple-upgraded:after {
	height: 100%;
	height: var(--mdc-ripple-fg-size, 100%);
	width: 100%;
	width: var(--mdc-ripple-fg-size, 100%)
}
.mdc-ripple-surface[data-mdc-ripple-is-unbounded] {
	overflow: visible
}
.mdc-ripple-surface[data-mdc-ripple-is-unbounded]:after, .mdc-ripple-surface[data-mdc-ripple-is-unbounded]:before {
	height: 100%;
	left: 0;
	top: 0;
	width: 100%
}
.mdc-ripple-surface[data-mdc-ripple-is-unbounded].mdc-ripple-upgraded:after, .mdc-ripple-surface[data-mdc-ripple-is-unbounded].mdc-ripple-upgraded:before {
	height: 100%;
	height: var(--mdc-ripple-fg-size, 100%);
	left: 0;
	left: var(--mdc-ripple-left, 0);
	top: 0;
	top: var(--mdc-ripple-top, 0);
	width: 100%;
	width: var(--mdc-ripple-fg-size, 100%)
}
.mdc-ripple-surface[data-mdc-ripple-is-unbounded].mdc-ripple-upgraded:after {
	height: 100%;
	height: var(--mdc-ripple-fg-size, 100%);
	width: 100%;
	width: var(--mdc-ripple-fg-size, 100%)
}
.mdc-ripple-surface--primary:after, .mdc-ripple-surface--primary:before {
	background-color: #6200ee
}
@supports not (-ms-ime-align:auto) {
	.mdc-ripple-surface--primary:after, .mdc-ripple-surface--primary:before {
		background-color: #6200ee;
		background-color: var(--mdc-theme-primary, #6200ee)
	}
}
.mdc-ripple-surface--primary:hover:before {
	opacity: .04
}
.mdc-ripple-surface--primary.mdc-ripple-upgraded--background-focused:before, .mdc-ripple-surface--primary:not(.mdc-ripple-upgraded):focus:before {
	opacity: .12;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-ripple-surface--primary:not(.mdc-ripple-upgraded):after {
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear
}
.mdc-ripple-surface--primary:not(.mdc-ripple-upgraded):active:after {
	opacity: .12;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-ripple-surface--primary.mdc-ripple-upgraded {
	--mdc-ripple-fg-opacity: 0.12
}
.mdc-ripple-surface--accent:after, .mdc-ripple-surface--accent:before {
	background-color: #018786
}
@supports not (-ms-ime-align:auto) {
	.mdc-ripple-surface--accent:after, .mdc-ripple-surface--accent:before {
		background-color: #018786;
		background-color: var(--mdc-theme-secondary, #018786)
	}
}
.mdc-ripple-surface--accent:hover:before {
	opacity: .04
}
.mdc-ripple-surface--accent.mdc-ripple-upgraded--background-focused:before, .mdc-ripple-surface--accent:not(.mdc-ripple-upgraded):focus:before {
	opacity: .12;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-ripple-surface--accent:not(.mdc-ripple-upgraded):after {
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear
}
.mdc-ripple-surface--accent:not(.mdc-ripple-upgraded):active:after {
	opacity: .12;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-ripple-surface--accent.mdc-ripple-upgraded {
	--mdc-ripple-fg-opacity: 0.12
}
.mdc-ripple-surface {
	overflow: hidden
}
.cpl-parallax, .cpl-parallax-bg {
	-webkit-transform: translateY(var(--translateY));
	transform: translateY(var(--translateY));
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
	will-change: transform
}
@-webkit-keyframes growIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
@keyframes growIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.9);
		transform: scale(.9)
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
.cpl-anim--grow-in {
	-webkit-animation: growIn transform .2s cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1);
	animation: growIn transform .2s cubic-bezier(.18, 1.25, .4, 1), opacity cubic-bezier(0, 1, .4, 1)
}
.cpl-has-page-hdr .cpl-sec-wrapper {
	padding-top: calc(64px + .75rem)
}
@media(min-width: 1023.01px) {
	.cpl-has-page-hdr .cpl-sec-wrapper {
		padding-top: 116px
	}
}
section header h1+div, section header h1+div>p:first-child, section header h1+p, section header h2+div, section header h2+div>p:first-child, section header h2+p {
	margin-top: 1.25rem
}
section .mdc-button--text+header {
	margin-top: 8px
}
@media(min-width: 1023.01px) {
	section .mdc-button--text+header {
		margin-top: 16px
	}
}
.cpl-sec-header {
	margin-bottom: 24px
}
@media(min-width: 600px) {
	.cpl-sec-header {
		margin-bottom: 40px
	}
}
.cpl-header--banner {
	height: 0;
	margin-top: -16px;
	overflow: hidden;
	padding-bottom: 53.333%;
	position: relative
}
@media(min-width: 600px) {
	.cpl-header--banner {
		margin-top: -40px;
		padding-bottom: 28.571%
	}
}
.cpl-header--banner picture {
	bottom: -1px;
	left: 0;
	position: absolute;
	width: 100%
}
.cpl-freehtml h3, .cpl-freehtml h4, .cpl-freehtml h5, .cpl-freehtml h6 {
	margin-bottom: 1rem
}
.cpl-freehtml h3:not(:first-child) {
	margin-top: 2.75rem
}
.cpl-freehtml h4:not(:first-child) {
	margin-top: 3.25rem
}
.cpl-freehtml h4+a[name]+h5 {
	margin-top: 1rem
}
.cpl-freehtml h5:not(:first-child), .cpl-freehtml h6:not(:first-child) {
	margin-top: 2.25rem
}
.cpl-freehtml a[name] {
	background-color: transparent;
	background-image: none!important;
	display: table;
	margin-top: -50px;
	padding-top: 50px
}
.cpl-freehtml .cpl-cta-wrapper:not(:first-child) {
	margin-top: 2rem
}
@media(min-width: 600px) {
	.cpl-freehtml .cpl-cta-wrapper:not(:first-child) {
		margin-top: 3rem
	}
}
.cpl-freehtml .cpl-grid.no-pad, .cpl-freehtml picture, .cpl-freehtml table {
	margin-bottom: 1.25rem;
	margin-top: 1.25rem
}
@media(min-width: 600px) {
	.cpl-freehtml .cpl-grid.no-pad, .cpl-freehtml picture, .cpl-freehtml table {
		margin-bottom: 2.25rem;
		margin-top: 2.25rem
	}
}
.cpl-freehtml table {
	-webkit-overflow-scrolling: touch;
	border-collapse: separate;
	border-spacing: 0;
	display: block;
	max-width: 100%;
	min-width: 45%;
	overflow-x: auto;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content
}
.cpl-freehtml table td, .cpl-freehtml table th {
	border-top: 1px solid #ccc;
	padding: .75rem
}
.cpl-freehtml table td:not(:first-child), .cpl-freehtml table th:not(:first-child) {
	border-left: 1px solid #ccc
}
@media(min-width: 600px) {
	.cpl-freehtml table td, .cpl-freehtml table th {
		padding: 1.2rem
	}
}
.cpl-freehtml table tr:last-child td, .cpl-freehtml table tr:last-child th {
	border-bottom: 1px solid #ccc
}
.cpl-freehtml table thead td, .cpl-freehtml table thead th {
	border-bottom: 2px solid #ccc
}
.cpl-freehtml table tfoot td {
	border-top: 1px solid #ccc
}
.cpl-freehtml .cpl-table--sticky table {
	display: table;
	margin-bottom: 0;
	margin-top: 0
}
@media(min-width: 600px) {
	.cpl-freehtml .cpl-table--sticky table {
		margin-bottom: 0;
		margin-top: 0
	}
}
.cpl-freehtml .cpl-grid.no-pad picture {
	margin-bottom: 0;
	margin-top: 0
}
.cpl-freehtml ul li.swiper-slide {
	margin-bottom: 0
}
@media(min-width: 600px) {
	.cpl-freehtml h3 {
		margin-bottom: 1.25rem
	}
	.cpl-freehtml h3:not(:first-child) {
		margin-top: 3.25rem
	}
	.cpl-freehtml h4 {
		margin-bottom: 1.25rem
	}
}
.choices {
	font-size: 1rem;
	margin-bottom: 24px;
	overflow: hidden;
	position: relative
}
.choices:focus {
	outline: none
}
.choices:last-child {
	margin-bottom: 0
}
.choices.is-open {
	overflow: visible;
	overflow: initial
}
.choices.is-disabled .choices__inner, .choices.is-disabled .choices__input {
	background-color: #eaeaea;
	cursor: not-allowed;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.choices.is-disabled .choices__item {
	cursor: not-allowed
}
.choices [hidden] {
	display: none!important
}
.choices[data-type*=select-one] {
	cursor: pointer
}
.choices[data-type*=select-one] .choices__inner {
	padding-bottom: 7.5px
}
.choices[data-type*=select-one] .choices__input {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	display: block;
	margin: 0;
	padding: 10px;
	width: 100%
}
.choices[data-type*=select-one] .choices__button {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJtMi41OTIuMDQ0IDE4LjM2NCAxOC4zNjQtMi41NDggMi41NDhMLjA0NCAyLjU5MnoiLz48cGF0aCBkPSJNMCAxOC4zNjQgMTguMzY0IDBsMi41NDggMi41NDhMMi41NDggMjAuOTEyeiIvPjwvZz48L3N2Zz4=);
	background-size: 8px;
	border-radius: 10em;
	height: 20px;
	margin-right: 25px;
	margin-top: -10px;
	opacity: .25;
	padding: 0;
	position: absolute;
	right: 0;
	top: 50%;
	width: 20px
}
.choices[data-type*=select-one] .choices__button:focus, .choices[data-type*=select-one] .choices__button:hover {
	opacity: 1
}
.choices[data-type*=select-one] .choices__button:focus {
	-webkit-box-shadow: 0 0 0 2px #eee;
	box-shadow: 0 0 0 2px #eee
}
.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
	display: none
}
.choices[data-type*=select-one]:after {
	border: 5px solid transparent;
	border-top-color: #101010;
	content: "";
	height: 0;
	margin-top: -2.5px;
	right: 11.5px;
	width: 0
}
.choices[data-type*=select-one].is-open:after {
	border-color: transparent transparent #101010;
	margin-top: -7.5px
}
.choices[data-type*=select-one][dir=rtl]:after {
	left: 11.5px;
	right: auto
}
.choices[data-type*=select-one][dir=rtl] .choices__button {
	left: 0;
	margin-left: 25px;
	margin-right: 0;
	right: auto
}
.choices[data-type*=select-multiple] .choices__inner, .choices[data-type*=text] .choices__inner {
	cursor: text
}
.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI0ZGRiIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJtMi41OTIuMDQ0IDE4LjM2NCAxOC4zNjQtMi41NDggMi41NDhMLjA0NCAyLjU5MnoiLz48cGF0aCBkPSJNMCAxOC4zNjQgMTguMzY0IDBsMi41NDggMi41NDhMMi41NDggMjAuOTEyeiIvPjwvZz48L3N2Zz4=);
	background-size: 8px;
	border-left: 1px solid #d5d5d5;
	border-radius: 0;
	display: inline-block;
	line-height: 1;
	margin: 0 -4px 0 8px;
	opacity: .75;
	padding-left: 16px;
	position: relative;
	width: 8px
}
.choices[data-type*=select-multiple] .choices__button:focus, .choices[data-type*=select-multiple] .choices__button:hover, .choices[data-type*=text] .choices__button:focus, .choices[data-type*=text] .choices__button:hover {
	opacity: 1
}
.choices__inner {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 2.5px;
	display: inline-block;
	font-size: 1rem;
	min-height: 44px;
	overflow: hidden;
	padding: 7.5px 7.5px 3.75px;
	vertical-align: top;
	width: 100%
}
.is-focused .choices__inner, .is-open .choices__inner {
	border-color: #a6a6a6
}
.is-open .choices__inner {
	border-radius: 2.5px 2.5px 0 0
}
.is-flipped.is-open .choices__inner {
	border-radius: 0 0 2.5px 2.5px
}
.choices__list {
	list-style: none;
	margin: 0;
	padding-left: 0
}
.choices__list--single {
	display: inline-block;
	padding: 4px 16px 4px 4px;
	width: 100%
}
[dir=rtl] .choices__list--single {
	padding-left: 16px;
	padding-right: 4px
}
.choices__list--single .choices__item {
	width: 100%
}
.choices__list--multiple {
	display: inline
}
.choices__list--multiple .choices__item {
	background-color: #eee;
	border: 1px solid #e1e1e1;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	font-size: .667rem;
	font-weight: 500;
	margin-bottom: 3.75px;
	margin-right: 3.75px;
	padding: 4px 10px;
	vertical-align: middle;
	word-break: break-all
}
.choices__list--multiple .choices__item[data-deletable] {
	padding-right: 5px
}
[dir=rtl] .choices__list--multiple .choices__item {
	margin-left: 3.75px;
	margin-right: 0
}
.choices__list--multiple .choices__item.is-highlighted {
	background-color: #e1e1e1;
	border: 1px solid #d5d5d5
}
.is-disabled .choices__list--multiple .choices__item {
	background-color: #aaa;
	border: 1px solid #919191
}
.choices__list--dropdown {
	background-color: #fff;
	border: 1px solid #ccc;
	border-bottom-left-radius: 2.5px;
	border-bottom-right-radius: 2.5px;
	margin-top: -1px;
	overflow: hidden;
	position: absolute;
	top: 100%;
	visibility: hidden;
	width: 100%;
	will-change: visibility;
	word-break: break-all;
	z-index: 1
}
.choices__list--dropdown.is-active {
	visibility: visible
}
.is-open .choices__list--dropdown {
	border-color: #a6a6a6
}
.is-flipped .choices__list--dropdown {
	border-radius: .25rem .25rem 0 0;
	bottom: 100%;
	margin-bottom: -1px;
	margin-top: 0;
	top: auto
}
.choices__list--dropdown .choices__list {
	-webkit-overflow-scrolling: touch;
	max-height: 300px;
	overflow: auto;
	position: relative;
	will-change: scroll-position
}
.choices__list--dropdown .choices__item {
	font-size: 1rem;
	position: relative
}
[dir=rtl] .choices__list--dropdown .choices__item {
	text-align: right
}
@media(min-width: 640px) {
	.choices__list--dropdown .choices__item--selectable {
		padding-right: 100px
	}
	.choices__list--dropdown .choices__item--selectable:after {
		content: attr(data-select-text);
		font-size: .667rem;
		opacity: 0;
		position: absolute;
		right: 10px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%)
	}
	[dir=rtl] .choices__list--dropdown .choices__item--selectable {
		padding-left: 100px;
		padding-right: 10px;
		text-align: right
	}
	[dir=rtl] .choices__list--dropdown .choices__item--selectable:after {
		left: 10px;
		right: auto
	}
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
	background-color: #f2f2f2
}
.choices__list--dropdown .choices__item--selectable.is-highlighted:after {
	opacity: .5
}
.choices__item {
	cursor: default
}
.choices__item--selectable {
	cursor: pointer
}
.choices__item--disabled {
	cursor: not-allowed;
	opacity: .5;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.choices__heading {
	border-bottom: 1px solid #e6e6e6;
	color: gray;
	font-size: .667rem;
	font-weight: 600;
	padding: 10px
}
.choices__button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	background-position: 50%;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
	text-indent: -9999px
}
.choices__button:focus {
	outline: none
}
.choices__input {
	background-color: #fff;
	border: 0;
	border-radius: 0;
	display: inline-block;
	font-size: 1rem;
	margin-bottom: 5px;
	max-width: 100%;
	padding: 4px 0 4px 2px;
	vertical-align: baseline
}
.choices__input:focus {
	outline: 0
}
[dir=rtl] .choices__input {
	padding-left: 0;
	padding-right: 2px
}
.choices__placeholder {
	opacity: .5
}
.choices {
	margin-bottom: 0
}
.choices__list--single {
	padding: 0 44px 0 0;
	vertical-align: top
}
.choices__list--multiple {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap
}
.choices__list--multiple:not(:empty)+.choices__input {
	font-size: 0;
	opacity: 0
}
.choices__list--multiple .choices__item {
	background-color: #fff;
	border-color: #101010;
	color: #101010;
	font-size: 1rem;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 6px;
	margin-right: 6px
}
.choices[data-type*=select-one]:after {
	border: 0;
	content: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 512 512'%3E%3Cpath d='m256.1 302.1 127-127.1c9.4-9.4 24.6-9.4 33.9 0s9.3 24.6 0 34L273.1 353c-9.1 9.1-23.7 9.3-33.1.7L95.1 209.1c-4.7-4.7-7-10.9-7-17s2.3-12.3 7-17c9.4-9.4 24.6-9.4 33.9 0l127.1 127z' fill='%23101010'/%3E%3C/svg%3E");
	height: 16px;
	margin-top: -8px;
	opacity: .8;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: rotate(0);
	transform: rotate(0);
	-webkit-transition: -webkit-transform .2s;
	transition: -webkit-transform .2s;
	transition: transform .2s;
	transition: transform .2s, -webkit-transform .2s;
	width: 16px
}
.choices[data-type*=select-one].is-open:after {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg)
}
.choices[data-type*=select-one] .choices__inner {
	padding-bottom: 0
}
.choices[data-type*=select-multiple] .choices__button {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJtMi41OTIuMDQ0IDE4LjM2NCAxOC4zNjQtMi41NDggMi41NDhMLjA0NCAyLjU5MnoiLz48cGF0aCBkPSJNMCAxOC4zNjQgMTguMzY0IDBsMi41NDggMi41NDhMMi41NDggMjAuOTEyeiIvPjwvZz48L3N2Zz4=);
	background-size: 10px;
	border-left: 0;
	padding-left: 22px;
	width: 22px
}
.choices__inner {
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #ccc;
	border-radius: 0;
	line-height: 45px;
	min-height: 45px;
	padding: 0;
	-webkit-transition: border-bottom-color .2s;
	transition: border-bottom-color .2s
}
.choices__inner:hover {
	border-bottom-color: #101010
}
.choices__input, .choices__placeholder {
	font-style: italic
}
.choices__input {
	margin: 0;
	padding: 0
}
.choices.is-disabled {
	opacity: .35
}
.choices.is-disabled .choices__inner, .choices.is-disabled .choices__input {
	background-color: hsla(0, 0%, 100%, 0)
}
.choices--invalid~.mdc-text-field-helper-line .mdc-text-field-helper-text--validation-msg, .choices--is-invalid~.mdc-text-field-helper-line .mdc-text-field-helper-text--validation-msg {
	display: block
}
.choices--invalid~.mdc-text-field-helper-line .mdc-text-field-helper-text--error-msg, .choices--is-error~.mdc-text-field-helper-line .mdc-text-field-helper-text--validation-msg, .choices--is-invalid~.mdc-text-field-helper-line .mdc-text-field-helper-text--error-msg {
	display: none
}
.choices--is-error~.mdc-text-field-helper-line .mdc-text-field-helper-text--error-msg {
	display: block
}
.choices .choices__item.choices__placeholder>.choices__button {
	display: none
}
.choices__list--dropdown {
	border-radius: 0;
	word-break: normal;
	z-index: 406
}
.choices__list--dropdown .choices__placeholder {
	display: none
}
.choices__list--dropdown .choices__item {
	padding: 10px
}
.choices__list--dropdown .choices__item--selectable {
	-webkit-transition: background-color .2s;
	transition: background-color .2s
}
.choices__list--dropdown .choices__item--selectable.is-highlighted {
	background-color: #eee
}
.mdc-chip__icon--leading, .mdc-chip__icon--trailing {
	color: rgba(0, 0, 0, .54)
}
.mdc-chip__icon--trailing:hover {
	color: rgba(0, 0, 0, .62)
}
.mdc-chip__icon--trailing:focus {
	color: rgba(0, 0, 0, .87)
}
.mdc-chip__icon.mdc-chip__icon--leading:not(.mdc-chip__icon--leading-hidden) {
	font-size: 20px;
	height: 20px;
	width: 20px
}
.mdc-chip__icon.mdc-chip__icon--trailing {
	font-size: 18px;
	height: 18px;
	width: 18px
}
.mdc-chip__icon--trailing {
	margin-left: 4px;
	margin-right: -4px
}
.mdc-chip__icon--trailing[dir=rtl], [dir=rtl] .mdc-chip__icon--trailing {
	margin-left: -4px;
	margin-right: 4px
}
.mdc-touch-target-wrapper {
	display: inline
}
.mdc-chip {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-appearance: none;
	background-color: hsla(0, 0%, 100%, 0);
	border-width: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #101010;
	cursor: pointer;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-family: Roboto, sans-serif;
	font-size: .875rem;
	font-weight: 400;
	letter-spacing: .0178571429em;
	line-height: 1.25rem;
	outline: none;
	position: relative;
	text-decoration: inherit;
	text-transform: inherit
}
.mdc-chip .mdc-chip__ripple {
	border-radius: 12px
}
.mdc-chip:hover {
	color: #101010
}
.mdc-chip .mdc-chip__icon--leading:not(.mdc-chip__icon--leading-hidden), .mdc-chip.mdc-chip--selected .mdc-chip__checkmark {
	margin-left: -4px;
	margin-right: 4px
}
.mdc-chip .mdc-chip__icon--leading:not(.mdc-chip__icon--leading-hidden)[dir=rtl], .mdc-chip.mdc-chip--selected .mdc-chip__checkmark[dir=rtl], [dir=rtl] .mdc-chip .mdc-chip__icon--leading:not(.mdc-chip__icon--leading-hidden), [dir=rtl] .mdc-chip.mdc-chip--selected .mdc-chip__checkmark {
	margin-left: 4px;
	margin-right: -4px
}
.mdc-chip::-moz-focus-inner {
	border: 0;
	padding: 0
}
.mdc-chip:hover {
	color: #000;
	color: var(--mdc-theme-on-surface, #000)
}
.mdc-chip .mdc-chip__touch {
	height: 48px;
	left: 0;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%)
}
.mdc-chip--exit {
	opacity: 0;
	-webkit-transition: opacity 75ms cubic-bezier(.4, 0, .2, 1), width .15s cubic-bezier(0, 0, .2, 1), padding .1s linear, margin .1s linear;
	transition: opacity 75ms cubic-bezier(.4, 0, .2, 1), width .15s cubic-bezier(0, 0, .2, 1), padding .1s linear, margin .1s linear
}
.mdc-chip__text {
	white-space: nowrap
}
.mdc-chip__icon {
	border-radius: 50%;
	outline: none;
	vertical-align: middle
}
.mdc-chip__checkmark {
	height: 20px
}
.mdc-chip__checkmark-path {
	stroke-width: 2px;
	stroke-dashoffset: 29.7833385;
	stroke-dasharray: 29.7833385;
	-webkit-transition: stroke-dashoffset .15s cubic-bezier(.4, 0, .6, 1) 50ms;
	transition: stroke-dashoffset .15s cubic-bezier(.4, 0, .6, 1) 50ms
}
.mdc-chip__text:focus {
	outline: none
}
.mdc-chip--selected .mdc-chip__checkmark-path {
	stroke-dashoffset: 0
}
.mdc-chip__icon--leading, .mdc-chip__icon--trailing {
	position: relative
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected {
	color: #6200ee;
	color: var(--mdc-theme-primary, #6200ee)
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected .mdc-chip__icon--leading {
	color: rgba(98, 0, 238, .54)
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected:hover {
	color: #6200ee;
	color: var(--mdc-theme-primary, #6200ee)
}
.mdc-chip-set--choice .mdc-chip .mdc-chip__checkmark-path {
	stroke: #6200ee;
	stroke: var(--mdc-theme-primary, #6200ee)
}
.mdc-chip-set--choice .mdc-chip--selected {
	background-color: #fff;
	background-color: var(--mdc-theme-surface, #fff)
}
.mdc-chip__checkmark-svg {
	height: 20px;
	-webkit-transition: width .15s cubic-bezier(.4, 0, .2, 1);
	transition: width .15s cubic-bezier(.4, 0, .2, 1);
	width: 0
}
.mdc-chip--selected .mdc-chip__checkmark-svg {
	width: 20px
}
.mdc-chip-set--filter .mdc-chip__icon--leading {
	opacity: 1;
	-webkit-transition: opacity 75ms linear;
	transition: opacity 75ms linear;
	-webkit-transition-delay: -50ms;
	transition-delay: -50ms
}
.mdc-chip-set--filter .mdc-chip__icon--leading+.mdc-chip__checkmark {
	opacity: 0;
	-webkit-transition: opacity 75ms linear;
	transition: opacity 75ms linear;
	-webkit-transition-delay: 80ms;
	transition-delay: 80ms
}
.mdc-chip-set--filter .mdc-chip__icon--leading+.mdc-chip__checkmark .mdc-chip__checkmark-svg {
	-webkit-transition: width 0ms;
	transition: width 0ms
}
.mdc-chip-set--filter .mdc-chip--selected .mdc-chip__icon--leading {
	opacity: 0
}
.mdc-chip-set--filter .mdc-chip--selected .mdc-chip__icon--leading+.mdc-chip__checkmark {
	opacity: 1;
	width: 0
}
.mdc-chip-set--filter .mdc-chip__icon--leading-hidden.mdc-chip__icon--leading {
	opacity: 0;
	width: 0
}
.mdc-chip-set--filter .mdc-chip__icon--leading-hidden.mdc-chip__icon--leading+.mdc-chip__checkmark {
	width: 20px
}
@keyframes mdc-ripple-fg-radius-in {
	0% {
		-webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1);
		animation-timing-function: cubic-bezier(.4, 0, .2, 1);
		-webkit-transform: translate(0) scale(1);
		transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1);
		transform: translate(var(--mdc-ripple-fg-translate-start, 0)) scale(1)
	}
	to {
		-webkit-transform: translate(0) scale(1);
		transform: translate(0) scale(1);
		-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
		transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1))
	}
}
@keyframes mdc-ripple-fg-opacity-in {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0
	}
	to {
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0)
	}
}
@keyframes mdc-ripple-fg-opacity-out {
	0% {
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
		opacity: 0;
		opacity: var(--mdc-ripple-fg-opacity, 0)
	}
	to {
		opacity: 0
	}
}
.mdc-ripple-surface--test-edge-var-bug {
	--mdc-ripple-surface-test-edge-var: 1px solid #000;
	visibility: hidden
}
.mdc-ripple-surface--test-edge-var-bug:before {
	border: var(--mdc-ripple-surface-test-edge-var)
}
.mdc-chip {
	--mdc-ripple-fg-size: 0;
	--mdc-ripple-left: 0;
	--mdc-ripple-top: 0;
	--mdc-ripple-fg-scale: 1;
	--mdc-ripple-fg-translate-end: 0;
	--mdc-ripple-fg-translate-start: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.mdc-chip .mdc-chip__ripple:after, .mdc-chip .mdc-chip__ripple:before {
	border-radius: 50%;
	content: "";
	opacity: 0;
	pointer-events: none;
	position: absolute
}
.mdc-chip .mdc-chip__ripple:before {
	-webkit-transition: opacity 15ms linear, background-color 15ms linear;
	transition: opacity 15ms linear, background-color 15ms linear;
	z-index: 1
}
.mdc-chip.mdc-ripple-upgraded .mdc-chip__ripple:before {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform: scale(var(--mdc-ripple-fg-scale, 1));
	transform: scale(var(--mdc-ripple-fg-scale, 1))
}
.mdc-chip.mdc-ripple-upgraded .mdc-chip__ripple:after {
	left: 0;
	top: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transform-origin: center center;
	transform-origin: center center
}
.mdc-chip.mdc-ripple-upgraded--unbounded .mdc-chip__ripple:after {
	left: 0;
	left: var(--mdc-ripple-left, 0);
	top: 0;
	top: var(--mdc-ripple-top, 0)
}
.mdc-chip.mdc-ripple-upgraded--foreground-activation .mdc-chip__ripple:after {
	-webkit-animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards;
	animation: mdc-ripple-fg-radius-in 225ms forwards, mdc-ripple-fg-opacity-in 75ms forwards
}
.mdc-chip.mdc-ripple-upgraded--foreground-deactivation .mdc-chip__ripple:after {
	-webkit-animation: mdc-ripple-fg-opacity-out .15s;
	animation: mdc-ripple-fg-opacity-out .15s;
	-webkit-transform: translate(0) scale(1);
	transform: translate(0) scale(1);
	-webkit-transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1));
	transform: translate(var(--mdc-ripple-fg-translate-end, 0)) scale(var(--mdc-ripple-fg-scale, 1))
}
.mdc-chip .mdc-chip__ripple:after, .mdc-chip .mdc-chip__ripple:before {
	height: 200%;
	left: -50%;
	top: -50%;
	width: 200%
}
.mdc-chip.mdc-ripple-upgraded .mdc-chip__ripple:after {
	height: 100%;
	height: var(--mdc-ripple-fg-size, 100%);
	width: 100%;
	width: var(--mdc-ripple-fg-size, 100%)
}
.mdc-chip .mdc-chip__ripple:after, .mdc-chip .mdc-chip__ripple:before {
	background-color: #101010
}
.mdc-chip:hover .mdc-chip__ripple:before {
	opacity: .04
}
.mdc-chip.mdc-ripple-upgraded--background-focused .mdc-chip__ripple:before, .mdc-chip.mdc-ripple-upgraded[focus-within] .mdc-chip__ripple:before, .mdc-chip:not(.mdc-ripple-upgraded):focus .mdc-chip__ripple:before, .mdc-chip:not(.mdc-ripple-upgraded)[focus-within] .mdc-chip__ripple:before {
	opacity: .12;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-chip.mdc-ripple-upgraded--background-focused .mdc-chip__ripple:before, .mdc-chip.mdc-ripple-upgraded:focus-within .mdc-chip__ripple:before, .mdc-chip:not(.mdc-ripple-upgraded):focus .mdc-chip__ripple:before, .mdc-chip:not(.mdc-ripple-upgraded):focus-within .mdc-chip__ripple:before {
	opacity: .12;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-chip:not(.mdc-ripple-upgraded) .mdc-chip__ripple:after {
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear
}
.mdc-chip:not(.mdc-ripple-upgraded):active .mdc-chip__ripple:after {
	opacity: .12;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-chip.mdc-ripple-upgraded {
	--mdc-ripple-fg-opacity: 0.12
}
.mdc-chip .mdc-chip__ripple {
	height: 100%;
	left: 0;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: 100%
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected .mdc-chip__ripple:before {
	opacity: .08
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected .mdc-chip__ripple:after, .mdc-chip-set--choice .mdc-chip.mdc-chip--selected .mdc-chip__ripple:before {
	background-color: #6200ee
}
@supports not (-ms-ime-align:auto) {
	.mdc-chip-set--choice .mdc-chip.mdc-chip--selected .mdc-chip__ripple:after, .mdc-chip-set--choice .mdc-chip.mdc-chip--selected .mdc-chip__ripple:before {
		background-color: #6200ee;
		background-color: var(--mdc-theme-primary, #6200ee)
	}
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected:hover .mdc-chip__ripple:before {
	opacity: .12
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected.mdc-ripple-upgraded--background-focused .mdc-chip__ripple:before, .mdc-chip-set--choice .mdc-chip.mdc-chip--selected.mdc-ripple-upgraded[focus-within] .mdc-chip__ripple:before, .mdc-chip-set--choice .mdc-chip.mdc-chip--selected:not(.mdc-ripple-upgraded):focus .mdc-chip__ripple:before, .mdc-chip-set--choice .mdc-chip.mdc-chip--selected:not(.mdc-ripple-upgraded)[focus-within] .mdc-chip__ripple:before {
	opacity: .2;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected.mdc-ripple-upgraded--background-focused .mdc-chip__ripple:before, .mdc-chip-set--choice .mdc-chip.mdc-chip--selected.mdc-ripple-upgraded:focus-within .mdc-chip__ripple:before, .mdc-chip-set--choice .mdc-chip.mdc-chip--selected:not(.mdc-ripple-upgraded):focus .mdc-chip__ripple:before, .mdc-chip-set--choice .mdc-chip.mdc-chip--selected:not(.mdc-ripple-upgraded):focus-within .mdc-chip__ripple:before {
	opacity: .2;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected:not(.mdc-ripple-upgraded) .mdc-chip__ripple:after {
	-webkit-transition: opacity .15s linear;
	transition: opacity .15s linear
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected:not(.mdc-ripple-upgraded):active .mdc-chip__ripple:after {
	opacity: .2;
	-webkit-transition-duration: 75ms;
	transition-duration: 75ms
}
.mdc-chip-set--choice .mdc-chip.mdc-chip--selected.mdc-ripple-upgraded {
	--mdc-ripple-fg-opacity: 0.2
}
@-webkit-keyframes mdc-chip-entry {
	0% {
		opacity: .4;
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
@keyframes mdc-chip-entry {
	0% {
		opacity: .4;
		-webkit-transform: scale(.8);
		transform: scale(.8)
	}
	to {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
.mdc-chip-set {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 4px
}
.mdc-chip-set .mdc-chip {
	margin: 4px
}
.mdc-chip-set .mdc-chip--touch {
	margin-bottom: 12px;
	margin-top: 12px
}
.mdc-chip-set--input .mdc-chip {
	-webkit-animation: mdc-chip-entry .1s cubic-bezier(0, 0, .2, 1);
	animation: mdc-chip-entry .1s cubic-bezier(0, 0, .2, 1)
}
.mdc-chip {
	background-color: transparent;
	border: 1px solid #3a3a3a;
	border-radius: 12px;
	font-family: ToyotaType, Arial, sans-serif;
	font-size: 11px;
	font-weight: 300;
	height: 24px;
	letter-spacing: normal;
	padding: 0 1rem;
	pointer-events: none
}
@media(min-width: 1023.01px) {
	.mdc-chip {
		font-size: 12px
	}
}
.mdc-chip-set {
	margin-bottom: calc(.75rem - 4px);
	padding: 0
}
.mdc-chip-set .mdc-chip {
	margin: 0 8px 6px 0
}
.mdc-chip__text {
	color: #3a3a3a
}
html[lang=lo] .mdc-chip {
	font-family: Noto Sans Lao, ToyotaType, Arial, sans-serif
}
html[lang=km] .mdc-chip {
	font-family: Noto Sans Khmer, ToyotaType, Arial, sans-serif
}
html[lang=ne] .mdc-chip {
	font-family: Noto Sans Devanagari, ToyotaType, Arial, sans-serif
}
.cpl-sec-bg-black .mdc-chip {
	border: 1px solid #fff
}
.cpl-sec-bg-black .mdc-chip .mdc-chip__text {
	color: #fff
}
.cpl-accordion {
	border: 1px solid gray;
	border-bottom: 0
}
.cpl-accordion--body, .cpl-accordion--header {
	position: relative
}
.cpl-accordion--header {
	cursor: pointer;
	padding: .75rem 2.5rem .75rem 16px
}
.cpl-accordion--header .header-content {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between
}
@media(max-width: 599px) {
	.cpl-accordion--header .header-content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: reverse;
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-direction: column-reverse;
		flex-direction: column-reverse
	}
}
.cpl-accordion--header .text-block {
	width: 100%
}
.cpl-accordion--header .logo-wrapper {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	padding-left: 32px
}
@media(max-width: 599px) {
	.cpl-accordion--header .logo-wrapper {
		margin-bottom: 8px;
		padding-left: 0;
		width: 100%
	}
	.cpl-accordion--header .logo-wrapper img {
		-o-object-fit: contain;
		object-fit: contain;
		-o-object-position: left;
		object-position: left
	}
}
.cpl-accordion--header .logo-wrapper img {
	-o-object-fit: contain;
	object-fit: contain;
	-o-object-position: right;
	object-position: right
}
@media(max-width: 599px) {
	.cpl-accordion--header .logo-wrapper img {
		-o-object-position: left;
		object-position: left
	}
}
.cpl-accordion--header:after {
	content: "";
	height: .667rem;
	position: absolute;
	right: 1.2rem;
	top: .85rem;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: -webkit-transform .25s;
	transition: -webkit-transform .25s;
	transition: transform .25s;
	transition: transform .25s, -webkit-transform .25s;
	width: .667rem
}
.cpl-sec-bg-black .cpl-accordion--header:after, .cpl-sec-bg-grey-dark .cpl-accordion--header:after, .cpl-sec-bg-grey-mid .cpl-accordion--header:after {
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff
}
.cpl-sec-bg-off-white .cpl-accordion--header:after, .cpl-sec-bg-white .cpl-accordion--header:after {
	border-bottom: 1px solid #eb0a1e;
	border-right: 1px solid #eb0a1e
}
@media not all and (-webkit-min-device-pixel-ratio: 0), not all and (min-resolution:0.001dpcm) {
	@supports(-webkit-appearance: none) {
		.cpl-accordion--header>div:before {
			content:"";
			display: block;
			height: 0;
			margin-top: -.25em;
			width: 0
		}
	}
}
.cpl-accordion--header>div:first-child {
	font-size: 1.125rem;
	font-weight: 700
}
.cpl-accordion--header>div+div {
	margin-top: .5rem
}
.cpl-accordion--header-desc {
	font-weight: 300
}
.cpl-accordion--body {
	max-height: 0;
	overflow: hidden;
	padding: 0 16px;
	-webkit-transition: max-height .2s ease-out;
	transition: max-height .2s ease-out
}
.cpl-accordion--body:after {
	border-top: 1px solid gray;
	content: "";
	left: 16px;
	pointer-events: none;
	position: absolute;
	top: 0;
	width: calc(100% - 32px)
}
.cpl-accordion--body-wrp {
	padding-bottom: .75rem;
	padding-top: .75rem
}
.cpl-accordion>li {
	border-bottom: 1px solid gray
}
.cpl-accordion>li.cpl-active .cpl-accordion--header:after {
	-webkit-transform: rotate(225deg) translate(-50%, -.3rem);
	transform: rotate(225deg) translate(-50%, -.3rem)
}
.cpl-sec-bg-black .cpl-accordion>li.cpl-active .cpl-accordion--header>div:first-child, .cpl-sec-bg-grey-dark .cpl-accordion>li.cpl-active .cpl-accordion--header>div:first-child, .cpl-sec-bg-grey-mid .cpl-accordion>li.cpl-active .cpl-accordion--header>div:first-child {
	color: #fff
}
.cpl-sec-bg-off-white .cpl-accordion>li.cpl-active .cpl-accordion--header>div:first-child, .cpl-sec-bg-white .cpl-accordion>li.cpl-active .cpl-accordion--header>div:first-child {
	color: #eb0a1e
}
.cpl-accordion>li.cpl-disabled {
	pointer-events: none
}
.cpl-accordion>li.cpl-disabled .cpl-accordion--header {
	opacity: .2
}
@media(min-width: 600px) {
	.cpl-accordion--header {
		padding: 1.2rem 4rem 1.2rem 24px
	}
	.cpl-accordion--header:after {
		right: 1.8rem;
		top: 1.4rem
	}
	.cpl-accordion--body {
		padding: 0 24px
	}
	.cpl-accordion--body:after {
		left: 24px;
		width: calc(100% - 48px)
	}
	.cpl-accordion--body-wrp {
		padding-bottom: 2.5rem;
		padding-right: 12.5%;
		padding-top: 1.5rem
	}
	.cpl-accordion--body-wrp.cpl-full-width {
		padding-right: 0
	}
}
.cpl-card .cpl-link-lightbox picture {
	cursor: pointer
}
.cpl-card .cpl-link-lightbox.no-zoom-effect:hover img {
	-webkit-transform: scale(1);
	transform: scale(1)
}
.cpl-card--img+.cpl-card--cont {
	padding-top: 1.25rem
}
.cpl-card--cont h2, .cpl-card--cont h3 {
	margin-bottom: 1rem
}
.cpl-card--cont h4, .cpl-card--cont h5 {
	margin-bottom: .75rem
}
.cpl-card--cont p:not(:last-of-type) {
	margin-bottom: .5rem
}
.cpl-card--cont .mdc-button--text {
	margin-top: 1rem
}
.cpl-card--cont .mdc-button--outlined, .cpl-card--cont .mdc-button--unelevated {
	margin-top: 2rem
}
.cpl-card--link img {
	-webkit-transform: scale(1) translateZ(0);
	transform: scale(1) translateZ(0)
}
.cpl-card--link:hover img {
	-webkit-transform: scale(1.06) translateZ(0);
	transform: scale(1.06) translateZ(0)
}
.cpl-card--side.cpl-bordered .cpl-card--img {
	position: relative;
	-webkit-transform: translate3d(14px, 0, 0);
	transform: translate3d(14px, 0, 0);
	width: calc(100% - 14px)
}
.cpl-card--side.cpl-bordered .cpl-card--img:before {
	background-color: #eb0a1e;
	content: "";
	height: calc(100% - 18px);
	left: -14px;
	position: absolute;
	top: 32px;
	width: calc(100% - 18px)
}
@media(max-width: 599px) {
	.cpl-card--side.cpl-bordered .cpl-card--cont {
		padding-top: calc(1.25rem + 14px)
	}
}
.cpl-card--side h2:before, .cpl-card--side h3:before, .cpl-card--side h4:before, .cpl-card--side h5:before {
	content: "";
	display: block;
	height: 0;
	margin-top: -.1em;
	width: 0
}
@media(min-width: 600px) {
	.cpl-card--side {
		grid-gap: 40px;
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		grid-template-rows: auto
	}
	.cpl-card--side .cpl-card--img {
		grid-column-end: span 1
	}
	.cpl-card--side .cpl-card--cont {
		padding-top: 0
	}
}
@media(min-width: 1280px) {
	.cpl-card--side {
		grid-gap: 64px
	}
	.cpl-card--side .cpl-card--cont {
		padding-right: 64px
	}
}
@media(min-width: 600px) {
	.cpl-card--profile {
		grid-gap: 24px;
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto
	}
	.cpl-card--profile .cpl-card--img {
		grid-column-end: span 1
	}
	.cpl-card--profile .cpl-card--cont {
		padding-top: 0
	}
}
.cpl-card--profile p:not(:last-of-type) {
	margin-bottom: .25rem
}
.cpl-news-events--main .cpl-input--wrp+.cpl-input--wrp {
	margin-top: 32px
}
.cpl-news-events--main>.cpl-sec-cont {
	min-height: 160px;
	padding-bottom: 0;
	position: relative
}
.cpl-news-events--main>.cpl-sec-cont:after {
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' style='margin:auto;background:0 0;display:block;shape-rendering:auto' width='64' height='64' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Cpath fill='%23101010' d='M17 30h6v40h-6z'%3E%3Canimate attributeName='opacity' dur='1s' repeatCount='indefinite' calcMode='spline' keyTimes='0;0.5;1' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' values='1;0.2;1' begin='-.6'/%3E%3C/path%3E%3Cpath fill='%233a3a3a' d='M37 30h6v40h-6z'%3E%3Canimate attributeName='opacity' dur='1s' repeatCount='indefinite' calcMode='spline' keyTimes='0;0.5;1' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' values='1;0.2;1' begin='-.4'/%3E%3C/path%3E%3Cpath fill='gray' d='M57 30h6v40h-6z'%3E%3Canimate attributeName='opacity' dur='1s' repeatCount='indefinite' calcMode='spline' keyTimes='0;0.5;1' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' values='1;0.2;1' begin='-.2'/%3E%3C/path%3E%3Cpath fill='%23ccc' d='M77 30h6v40h-6z'%3E%3Canimate attributeName='opacity' dur='1s' repeatCount='indefinite' calcMode='spline' keyTimes='0;0.5;1' keySplines='0.5 0 0.5 1;0.5 0 0.5 1' values='1;0.2;1' begin='-1'/%3E%3C/path%3E%3C/svg%3E");
	content: none;
	height: 64px;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 16px;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
	width: 64px
}
@media(min-width: 600px) {
	.cpl-news-events--main>.cpl-sec-cont:after {
		top: 32px
	}
}
.cpl-news-events--main.cpl-loading>.cpl-sec-cont:after {
	content: ""
}
.cpl-news-latest--ul {
	min-height: inherit
}
.cpl-news-latest--ul li {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	padding-bottom: 32px
}
@media(min-width: 600px) {
	.cpl-news-latest--ul li {
		padding-bottom: 40px
	}
}
.cpl-news-latest--ul+.cpl-accordion {
	margin-bottom: 16px
}
@media(min-width: 600px) {
	.cpl-news-latest--ul+.cpl-accordion {
		margin-top: 32px
	}
}
.cpl-news-latest--cont, .cpl-news-latest--img {
	width: 100%
}
@media(min-width: 600px)and (max-width:1023px) {
	.cpl-news-latest--img {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 45%;
		flex: 0 0 45%;
		padding-right: 32px;
		width: 45%
	}
}
@media(min-width: 1023.01px) {
	.cpl-news-latest--img {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		padding-right: 32px;
		width: 50%
	}
}
.cpl-news-latest--cont {
	margin-top: 1rem
}
@media(min-width: 600px) {
	.cpl-news-latest--cont {
		margin-top: 0
	}
}
@media(min-width: 600px)and (max-width:1023px) {
	.cpl-news-latest--cont {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 55%;
		flex: 0 0 55%;
		width: 55%
	}
}
@media(min-width: 1023.01px) {
	.cpl-news-latest--cont {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		padding-left: 32px;
		padding-right: 15%;
		width: 50%
	}
}
.cpl-news-latest--cont>div:not(:first-child) {
	margin-top: 1rem
}
@media(min-width: 600px) {
	.cpl-news-latest--cont>div:not(:first-child) {
		margin-top: 1.5rem
	}
}
.cpl-news-latest--cont p:not(:last-of-type) {
	margin-bottom: .5rem
}
p+.cpl-news-events-link {
	margin-top: .5rem
}
.cpl-news-events-link .mdc-button {
	height: 40px
}
.cpl-card--img img, .cpl-news-latest--img img {
	-webkit-transform: scale(1);
	transform: scale(1)
}
.cpl-card--img a:hover img, .cpl-news-latest--img a:hover img {
	-webkit-transform: scale(1.06);
	transform: scale(1.06)
}
.cpl-news-archive--ul .cpl-accordion--body.bottom-separator ul.cpl-grid-inner {
	row-gap: 8px
}
.cpl-news-archive--ul .cpl-accordion--body.bottom-separator ul.cpl-grid-inner li {
	border-bottom: 1px solid #ccc;
	padding-bottom: 16px
}